* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.cat-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px black;
    border-radius: 5px;
}

.cat {
    position: absolute;
    width: 80%;
    height: 80%;
    border: 1px solid black;

    .cat-head-frame {
        position: absolute;
        left: 50%;
        top: 5%;
        width: 50%;
        height: 50%;
        border: 1px solid rgb(180, 168, 168);
    
        .cat-head {
            position: absolute;
            top: 21%;
            left: 50%;
            transform: translateX(-50%);
            width: 66%;
            height: 56%;
            border: 1px solid black;
            border-radius: 50%;
            background-color: #fff;
            z-index: 500;
        }
        
        .cat-ear-right {
            position: absolute;
            border: 1px solid black;
            top: 20%;
            left: 75%;
            width: 20%;
            height: 20%;
            border-top-left-radius: 50%;
            border-top-right-radius: 30%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 0%;
            transform: translateX(-50%);
        }
        
        .cat-ear-left {
            position: absolute;
            border: 1px solid black;
            top: 20%;
            left: 25%;
            width: 20%;
            height: 20%;
            border-top-left-radius: 30%;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 0%;
            border-bottom-left-radius: 50%;
            transform: translateX(-50%);
        }
        
        .cat-eye-left {
            z-index: 1000;
            position: absolute;
            border: 1px solid black;
            top: 40%;
            left: 38%;
            width: 10%;
            height: 10%;
            border-top-left-radius: 70%;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 50%;
            transform: translateX(-50%);
        }
    
        .cat-eye-right {
            z-index: 1000;
            position: absolute;
            border: 1px solid black;
            top: 40%;
            left: 62%;
            width: 10%;
            height: 10%;
            border-top-left-radius: 40%;
            border-top-right-radius: 70%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 70%;
            transform: translateX(-50%);
        }
    
        .cat-nose {
            z-index: 1000;
            position: absolute;
            border: 1px solid black;
            top: 47%;
            left: 50%;
            transform: translateX(-50%);
            width: 5%;
            height: 5%;
            border-top-left-radius: 80%;
            border-top-right-radius: 70%;
            border-bottom-right-radius: 30%;
            border-bottom-left-radius: 30%;
    
            .cat-nose-warm {
                z-index: 1000;
                position: relative;
                background-color: rgb(189, 122, 122);
                border: 1px solid rgb(189, 122, 122);
                height: 100%;
                width: 100%;
                border-top-left-radius: 80%;
                border-top-right-radius: 70%;
                border-bottom-right-radius: 20%;
                border-bottom-left-radius: 20%;
            }
    
        }
    
        .cat-mouth-left {
            z-index: 500;
            position: absolute;
            border-left: 1px solid white;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            top: 50%;
            left: 44.5%;
            transform: translateX(-50%);
            width: 5%;
            height: 7%;
            border-top-left-radius: 0%;
            border-top-right-radius: 0%;
            border-bottom-right-radius: 100%;
            border-bottom-left-radius: 40%;
            transform: rotate(18deg);
        }
    
        .cat-mouth-right {
            z-index: 500;
            position: absolute;
            border-left: 1px solid white;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            top: 50%;
            right: 44.5%;
            transform: translateX(-50%);
            width: 5%;
            height: 7%;
            border-top-left-radius: 0%;
            border-top-right-radius: 0%;
            border-bottom-right-radius: 100%;
            border-bottom-left-radius: 40%;
            transform: scale(-1, 1);
            rotate: (-18deg);
        }
    
        .cat-moustahe-left-one {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 53%;
            left: 32%;
            transform: rotate(-15deg);
        }
    
        .cat-moustahe-right-one {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 53%;
            right: 32%;
            transform: rotate(15deg);
        }
    
        .cat-moustahe-left-two {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 55%;
            left: 34%;
            transform: rotate(-25deg);
        }
    
        .cat-moustahe-right-two {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 55%;
            right: 34%;
            transform: rotate(25deg);
        }
    
        .cat-moustahe-left-three {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 57%;
            left: 36%;
            transform: rotate(-35deg);
        }
    
        .cat-moustahe-right-three {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 57%;
            right: 36%;
            transform: rotate(35deg);
        }
    
        .cat-subeye-bg-left {
            z-index: 500;
            position: absolute;
            width: 102%;
            height: 102%;
            background-image: linear-gradient(56deg, rgba(213, 213, 233, 0.229) 34%, rgba(0, 0, 0, 0.264) 78%);
            border-top-left-radius: 70%;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 50%;
        }
    
        .cat-subeye-left {
            z-index: 500;
            position: absolute;
            width: 30%;
            height: 30%;
            top: 24%;
            left: 7%;
            background-color: black;
            border-top-left-radius: 70%;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 50%;
            transform: rotate(317deg);
        }
    
        .cat-subeye-bg-right {
            z-index: 500;
            position: absolute;
            width: 102%;
            height: 102%;
            background-image: linear-gradient(56deg, rgba(213, 213, 233, 0.229) 34%, rgba(0, 0, 0, 0.264) 78%);
            border-top-left-radius: 40%;
            border-top-right-radius: 70%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 70%;
        }
    
        .cat-subeye-right {
            z-index: 500;
            position: absolute;
            width: 30%;
            height: 30%;
            top: 24%;
            left: 3%;
            background-color: black;
            border-top-left-radius: 70%;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 50%;
            transform: rotate(316deg);
        }
    }

    .cat-body-frame {
        position: absolute;
        width: 100%;
        height: 80%;
        border: 1px solid black;

        .cat-body {
            z-index: 100;
            position: absolute;
            background-color: #fdf4f5;
            top: 36%;
            left: 45%;
            width: 40%;
            height: 30%;
            border: 1px solid black;
            border-top-left-radius: 49% 75%;
            border-top-right-radius: 75%;
            border-bottom-right-radius: 69% 60%;
            border-bottom-left-radius: 50% 63%;
            transform: rotate(3deg);
        }

        .cat-tail {
            position: absolute;
            top: 24%;
            left: 50%;
            width: 93px;
            height: 139px;
            border-radius: 50%;
            box-shadow: 9px 15px 0 0 black;
            transform: rotate(105deg);
        }

        .cat-leg-left-down {
            z-index: 90;
            position: absolute;
            background-color: #fdf4f5;
            top: 59%;
            left: 42%;
            width: 20%;
            height: 6%;
            border: 1px solid black;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 100%;
            border-bottom-right-radius: 80%;
            border-top-right-radius: 30%;
            transform: rotate(75deg);

            .cat-leg-left-down-pillow {
                z-index: 95;
                position: absolute;
                background-color: #fdf4f5;
                top: -71%;
                left: 79%;
                width: 29%;
                height: 175%;
                border-radius: 50% 39% 50% 50%;
                transform: rotate(13deg);
                border: 1px solid black;
            }
        }

        .cat-leg-left-up {
            z-index: 80;
            position: absolute;
            background-color: #fdf4f5;
            top: 58%;
            left: 47%;
            width: 20%;
            height: 6%;
            border: 1px solid black;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 100%;
            border-bottom-right-radius: 80%;
            border-top-right-radius: 30%;
            transform: rotate(75deg);

            .cat-leg-left-up-pillow {
                z-index: 95;
                position: absolute;
                background-color: #fdf4f5;
                top: -71%;
                left: 79%;
                width: 29%;
                height: 175%;
                border-radius: 50% 39% 50% 50%;
                transform: rotate(13deg);
                border: 1px solid black;
            }
        }

        .cat-leg-right-down {
            z-index: 80;
            position: absolute;
            background-color: #fdf4f5;
            top: 59%;
            left: 58%;
            width: 20%;
            height: 6%;
            border: 1px solid black;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 100%;
            border-bottom-right-radius: 80%;
            border-top-right-radius: 30%;
            transform: rotate(75deg);

            .cat-leg-right-down-pillow {
                z-index: 95;
                position: absolute;
                background-color: #fdf4f5;
                top: -71%;
                left: 79%;
                width: 29%;
                height: 175%;
                border-radius: 50% 39% 50% 50%;
                transform: rotate(13deg);
                border: 1px solid black;
            }
        }

        .cat-leg-right-up {
            z-index: 80;
            position: absolute;
            background-color: #fdf4f5;
            top: 58%;
            left: 67%;
            width: 20%;
            height: 6%;
            border: 1px solid black;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 100%;
            border-bottom-right-radius: 80%;
            border-top-right-radius: 30%;
            transform: rotate(75deg);

            .cat-leg-right-up-pillow {
                z-index: 95;
                position: absolute;
                background-color: #fdf4f5;
                top: -71%;
                left: 79%;
                width: 29%;
                height: 175%;
                border-radius: 50% 39% 50% 50%;
                transform: rotate(13deg);
                border: 1px solid black;
            }
        }

    }

}