* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

// ┌─────────────────────────────────────────────────────────────────────────┐
// │ GLOBAL VARIABLES                                                        │
// └─────────────────────────────────────────────────────────────────────────┘

$body-color: #f9e2af;

$border-size: 1.5px;
$border-color: #00000057;

$cat-speed: 2s;
$leg-delay: 1s;

// ┌─────────────────────────────────────────────────────────────────────────┐
// │ KEYFRAMES                                                               │
// └─────────────────────────────────────────────────────────────────────────┘

@keyframes cat-leg-one-walk {
    0% {
        transform: rotate(75deg);
        top: 59%;
    }

    50% {
        transform: rotate(100deg);
        top: 58%;
    }

    100% {
        transform: rotate(75deg);
        top: 59%;
    }
}

@keyframes cat-leg-one-pillow-walk {
    0% {
        transform: rotate(13deg);
    }

    50% {
        transform: rotate(-13deg);
    }

    100% {
        transform: rotate(13deg);
    }
}

@keyframes cat-leg-two-walk {
    0% {
        transform: rotate(75deg);
        top: 58%;
    }

    50% {
        transform: rotate(100deg);
        top: 57%;
    }

    100% {
        transform: rotate(75deg);
        top: 58%;
    }
}

@keyframes cat-leg-two-pillow-walk {
    0% {
        transform: rotate(13deg);
    }

    50% {
        transform: rotate(-13deg);
    }

    100% {
        transform: rotate(13deg);
    }
}

@keyframes cat-leg-three-walk {
    0% {
        transform: rotate(75deg);
        top: 59%;
    }

    50% {
        transform: rotate(100deg);
        top: 58%;
    }

    100% {
        transform: rotate(75deg);
        top: 59%;
    }
}

@keyframes cat-leg-three-pillow-walk {
    0% {
        transform: rotate(13deg);
    }

    50% {
        transform: rotate(-13deg);
    }

    100% {
        transform: rotate(13deg);
    }
}

@keyframes cat-leg-four-walk {
    0% {
        transform: rotate(75deg);
        top: 58%;
    }

    50% {
        transform: rotate(100deg);
        top: 57%;
    }

    100% {
        transform: rotate(75deg);
        top: 58%;
    }
}

@keyframes cat-leg-four-pillow-walk {
    0% {
        transform: rotate(13deg);
    }

    50% {
        transform: rotate(-13deg);
    }

    100% {
        transform: rotate(13deg);
    }
}

@keyframes cat-tail-box-movement {
    0% {
        transform: skewX(0deg);
    }

    50% {
        transform: skewX(-10deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

.cat-road {
    z-index: 0;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    background-color: white;
}

.cat-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    //background-color: white;
    //box-shadow: 0px 0px 5px 5px black;
    //border-radius: 5px;
}

.cat {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 18%;
    right: 21%;

    .cat-head-frame {
        position: absolute;
        left: 50%;
        top: 5%;
        width: 50%;
        height: 50%;

        .cat-head {
            position: absolute;
            top: 21%;
            left: 50%;
            transform: translateX(-50%);
            width: 66%;
            height: 56%;
            border: $border-size solid $border-color;
            border-radius: 50%;
            background-color: $body-color;
            z-index: 500;
        }

        .cat-ear-right {
            position: absolute;
            border: $border-size solid $border-color;
            background-color: $body-color;
            top: 20%;
            left: 75%;
            width: 20%;
            height: 20%;
            border-top-left-radius: 50%;
            border-top-right-radius: 30%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 0%;
            transform: translateX(-50%);
        }

        .cat-ear-right::after {
            content: "";
            position: absolute;
            border: 1px solid $border-color;
            top: 15%;
            left: 45%;
            background: #fee4df;
            width: 80%;
            height: 80%;
            border-top-left-radius: 50%;
            border-top-right-radius: 30%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 0%;
            transform: translateX(-50%);
        }

        .cat-ear-left {
            position: absolute;
            border: $border-size solid $border-color;
            background-color: $body-color;
            top: 20%;
            left: 25%;
            width: 20%;
            height: 20%;
            border-top-left-radius: 30%;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 0%;
            border-bottom-left-radius: 50%;
            transform: translateX(-50%);
        }

        .cat-ear-left::after {
            content: "";
            position: absolute;
            border: 1px solid $border-color;
            top: 15%;
            left: 55%;
            background: #fee4df;
            width: 80%;
            height: 80%;
            border-top-left-radius: 30%;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 0%;
            border-bottom-left-radius: 50%;
            transform: translateX(-50%);
        }

        .cat-eye-left {
            z-index: 1000;
            position: absolute;
            border: 1px solid black;
            top: 40%;
            left: 38%;
            width: 10%;
            height: 10%;
            border-top-left-radius: 70%;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 50%;
            transform: translateX(-50%);
        }

        .cat-eye-right {
            z-index: 1000;
            position: absolute;
            border: 1px solid black;
            top: 40%;
            left: 62%;
            width: 10%;
            height: 10%;
            border-top-left-radius: 40%;
            border-top-right-radius: 70%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 70%;
            transform: translateX(-50%);
        }

        .cat-nose {
            z-index: 1000;
            position: absolute;
            border: 1px solid black;
            top: 47%;
            left: 50%;
            transform: translateX(-50%);
            width: 5%;
            height: 5%;
            border-top-left-radius: 80%;
            border-top-right-radius: 70%;
            border-bottom-right-radius: 30%;
            border-bottom-left-radius: 30%;

            .cat-nose-warm {
                z-index: 1000;
                position: relative;
                background-color: rgb(189, 122, 122);
                border: 1px solid rgb(189, 122, 122);
                height: 100%;
                width: 100%;
                border-top-left-radius: 80%;
                border-top-right-radius: 70%;
                border-bottom-right-radius: 20%;
                border-bottom-left-radius: 20%;
            }
        }

        .cat-mouth-left {
            z-index: 500;
            position: absolute;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            top: 50%;
            left: 44.5%;
            transform: translateX(-50%);
            width: 5%;
            height: 7%;
            border-top-left-radius: 0%;
            border-top-right-radius: 0%;
            border-bottom-right-radius: 100%;
            border-bottom-left-radius: 40%;
            transform: rotate(18deg);
        }

        .cat-mouth-right {
            z-index: 500;
            position: absolute;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            top: 50%;
            right: 44.5%;
            transform: translateX(-50%);
            width: 5%;
            height: 7%;
            border-top-left-radius: 0%;
            border-top-right-radius: 0%;
            border-bottom-right-radius: 100%;
            border-bottom-left-radius: 40%;
            transform: scale(-1, 1);
            rotate: (-18deg);
        }

        .cat-moustahe-left-one {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 53%;
            left: 32%;
            transform: rotate(-15deg);
        }

        .cat-moustahe-right-one {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 53%;
            right: 32%;
            transform: rotate(15deg);
        }

        .cat-moustahe-left-two {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 55%;
            left: 34%;
            transform: rotate(-25deg);
        }

        .cat-moustahe-right-two {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 55%;
            right: 34%;
            transform: rotate(25deg);
        }

        .cat-moustahe-left-three {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 57%;
            left: 36%;
            transform: rotate(-35deg);
        }

        .cat-moustahe-right-three {
            transform: translateX(-50%);
            z-index: 500;
            position: absolute;
            border-top: 0.3px solid black;
            width: 15%;
            height: 15%;
            top: 57%;
            right: 36%;
            transform: rotate(35deg);
        }

        .cat-subeye-bg-left {
            z-index: 500;
            position: absolute;
            width: 102%;
            height: 102%;
            background-image: linear-gradient(56deg, rgba(213, 213, 233, 0.229) 34%, rgba(0, 0, 0, 0.264) 78%);
            border-top-left-radius: 70%;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 50%;
        }

        .cat-subeye-left {
            z-index: 500;
            position: absolute;
            width: 30%;
            height: 30%;
            top: 24%;
            left: 7%;
            background-color: black;
            border-top-left-radius: 70%;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 50%;
            transform: rotate(317deg);
        }

        .cat-subeye-bg-right {
            z-index: 500;
            position: absolute;
            width: 102%;
            height: 102%;
            background-image: linear-gradient(56deg, rgba(213, 213, 233, 0.229) 34%, rgba(0, 0, 0, 0.264) 78%);
            border-top-left-radius: 40%;
            border-top-right-radius: 70%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 70%;
        }

        .cat-subeye-right {
            z-index: 500;
            position: absolute;
            width: 30%;
            height: 30%;
            top: 24%;
            left: 3%;
            background-color: black;
            border-top-left-radius: 70%;
            border-top-right-radius: 40%;
            border-bottom-right-radius: 70%;
            border-bottom-left-radius: 50%;
            transform: rotate(316deg);
        }
    }

    .cat-body-frame {
        position: absolute;
        width: 100%;
        height: 80%;
        //border: 1px solid black;

        .cat-body {
            z-index: 100;
            position: absolute;
            background-color: $body-color;
            top: 36%;
            left: 45%;
            width: 40%;
            height: 30%;
            border: $border-size solid $border-color;
            border-top-left-radius: 49% 75%;
            border-top-right-radius: 75%;
            border-bottom-right-radius: 69% 60%;
            border-bottom-left-radius: 50% 63%;
            transform: rotate(3deg);
        }

        /*.cat-tail {
            position: absolute;
            top: 24%;
            left: 50%;
            width: 93px;
            height: 139px;
            border-radius: 50%;
            box-shadow: 9px 15px 0 0 black;
            transform: rotate(105deg);
        }*/

        .cat-tail-box {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 20%;
            top: 5%;
            animation: cat-tail-box-movement infinite 1.5s;
        }

        .cat-tail {
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 15%;
            height: 25%;
            left: 17%;
            top: 23%;
            border-bottom-left-radius: 85%;
            border-bottom-right-radius: 0%;
            border-top-left-radius: 25%;
            border-top-right-radius: 0%;
            border-left: 2px solid $border-color;
            box-shadow: inset 4px -3px 1px 0px $body-color, inset 5px -1px 0px 0px $body-color,
                inset 6px -3px 1px 0px $body-color, inset 5px -15px 0px 0px $body-color,
                inset 4px -20px 0px 0px $body-color, inset 5px -20px 0px 0px $body-color;
        }

        .cat-lait {
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 15%;
            height: 25%;
            border-bottom-left-radius: 80%;
            border-bottom-right-radius: 0%;
            border-top-left-radius: 25%;
            border-top-right-radius: 0%;
            border-left: 2px solid $border-color;
            left: 20%;
            top: 21%;
            transform: rotate(342deg);
        }

        .cat-leg-one {
            z-index: 90;
            position: absolute;
            background-color: $body-color;
            top: 59%;
            left: 42%;
            width: 20%;
            height: 6%;
            border: $border-size solid $border-color;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 100%;
            border-bottom-right-radius: 80%;
            border-top-right-radius: 30%;
            transform: rotate(75deg);
            animation: cat-leg-one-walk infinite $cat-speed;
            animation-delay: $leg-delay;

            .cat-leg-one-pillow {
                z-index: 95;
                position: absolute;
                background-color: $body-color;
                top: -71%;
                left: 79%;
                width: 29%;
                height: 175%;
                border-radius: 50% 39% 50% 50%;
                transform: rotate(13deg);
                border: $border-size solid $border-color;
                animation: cat-leg-one-pillow-walk infinite $cat-speed;
                animation-delay: $leg-delay;
            }
        }

        .cat-leg-two {
            z-index: 80;
            position: absolute;
            background-color: $body-color;
            top: 58%;
            left: 47%;
            width: 20%;
            height: 6%;
            border: $border-size solid $border-color;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 100%;
            border-bottom-right-radius: 80%;
            border-top-right-radius: 30%;
            transform: rotate(75deg);
            animation: cat-leg-two-walk infinite $cat-speed;

            .cat-leg-two-pillow {
                z-index: 95;
                position: absolute;
                background-color: $body-color;
                top: -71%;
                left: 79%;
                width: 29%;
                height: 175%;
                border-radius: 50% 39% 50% 50%;
                transform: rotate(13deg);
                border: $border-size solid $border-color;
                animation: cat-leg-two-pillow-walk infinite $cat-speed;
            }
        }

        .cat-leg-three {
            z-index: 90;
            position: absolute;
            background-color: $body-color;
            top: 59%;
            left: 61%;
            width: 20%;
            height: 6%;
            border: $border-size solid $border-color;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 100%;
            border-bottom-right-radius: 80%;
            border-top-right-radius: 30%;
            transform: rotate(75deg);
            animation: cat-leg-three-walk infinite $cat-speed;
            animation-delay: $leg-delay;

            .cat-leg-three-pillow {
                z-index: 90;
                position: absolute;
                background-color: $body-color;
                top: -71%;
                left: 79%;
                width: 29%;
                height: 175%;
                border-radius: 50% 39% 50% 50%;
                transform: rotate(13deg);
                border: $border-size solid $border-color;
                animation: cat-leg-three-pillow-walk infinite $cat-speed;
                animation-delay: $leg-delay;
            }
        }

        .cat-leg-four {
            z-index: 80;
            position: absolute;
            background-color: $body-color;
            top: 58%;
            left: 68%;
            width: 20%;
            height: 6%;
            border: $border-size solid $border-color;
            border-bottom-left-radius: 40%;
            border-top-left-radius: 100%;
            border-bottom-right-radius: 80%;
            border-top-right-radius: 30%;
            transform: rotate(75deg);
            animation: cat-leg-four-walk infinite $cat-speed;

            .cat-leg-four-pillow {
                z-index: 85;
                position: absolute;
                background-color: $body-color;
                top: -71%;
                left: 79%;
                width: 29%;
                height: 175%;
                border-radius: 50% 39% 50% 50%;
                transform: rotate(13deg);
                border: $border-size solid $border-color;
                animation: cat-leg-four-pillow-walk infinite $cat-speed;
            }
        }
    }
}
